$bg-main: #1f023c;
$active-green: #9bfab6;
$mint: #00ffff;
$pink: #ff00fe;
$light-pink: #cf83d6;
$light-mint: #40b5c4;
$dark: #030303;
$success: $active-green;
$mint-box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.7);
$pink-box-shadow: 0 0 10px 2px #ff00feab;
$component-active-bg: $mint;
$progress-bar-bg: $pink;
$btn-close-focus-shadow: 0;
$form-range-thumb-disabled-bg: $mint;
$table-bg: transparent;
$table-color: #ffffff;
$warning: #fdff4a;