@font-face {
    font-family: '3Dventure';
    src: url('../../public/fonts/3Dventure.ttf') format('truetype');
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('../../public/fonts/DungGeunMo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
