@charset "UTF-8";
@import './colors.scss';
@import './variables.scss';
@import 'bootstrap/scss/bootstrap';
@import './font.scss';
@import './custom_utilities.scss';

body {
  font-size: 16px;
  background-color: $bg-main;
  background-image: linear-gradient(180deg, $bg-main, #140225fd);
  color: #ffffff;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  height: 100vh;
}

input {
  border-width: 0 0 0.8rem 0 !important;
  border-style: dashed !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
  font-family: 3Dventure;
}

:root {
  --bs-body-color: #ffffff;
  --bs-body-font-family: '3Dventure', 'DungGeunMo', var(--bs-font-sans-serif);
  --bs-link-color: #ffffff;
  --bs-link-hover-color: #9bfab6;
}

#app {
  position: relative;
  width: 88%;
  height: 95%;
  font-size: 2rem;
}

.title {
  @include font-size(16vw);
  -webkit-text-stroke-width: 0.4rem;
}

.btn-outline-light {
  --bs-btn-border-color: none;
  &:hover {
    box-shadow:
      0 0 10px 0 $mint inset,
      0 0 10px 4px $mint;
  }
}

.btn-no-outline-hover {
  border: none;
  &:hover {
    color: $active-green;
  }
}

.btn-close {
  background-image: none;
  opacity: 1;
  color: white;
  &:hover {
    color: $active-green;
  }
}

.modal-content {
  border-radius: 30px;
}

.modal-border-mint {
  border-color: $mint;
}

.modal-border-pink {
  border-color: $pink;
}

.btn-friend-accept {
  border: none;
  background-color: $light-pink;
}

.btn-friend-reject {
  border: none;
  background-color: $light-mint;
}

.modal-content {
  border: solid 10px;
  border-radius: 30px;
}

.modal-border-mint {
  border-color: $mint;
}

.modal-border-pink {
  border-color: $pink;
}

.btn-friend-accept {
  border: none;
  background-color: $light-pink;
}

.btn-friend-reject {
  border: none;
  background-color: $light-mint;
}

.menubar{
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 0 10px 2px rgba(0, 255, 255, 0.7);
  min-height: 70vh;
  width: 30rem;
}

.tooltip-comment {
  --bs-tooltip-bg: var(--bs-light);
  --bs-tooltip-color: var(--bs-dark);
  font-size: 1.5rem;
  font-family: '3Dventure', 'DungGeunMo', system-ui;
  word-break: keep-all;
}

.btn-arrow {
  &:hover::before{
    content: '-> ';
    color: #ffffff;
  }
  &:hover::after{
    content: ' <-';
    color: #ffffff;
  }
}

.btn-toast-close {
  padding: var(--bs-toast-padding-x);
  &:hover {
    color: $mint;
  }
}