@charset "UTF-8";
@import 'bootstrap/scss/bootstrap';
@import './colors.scss';


body {
  font-size: 16px;
  background-color: $bg-main;
  background-image: linear-gradient(180deg, $bg-main, #140225fd);
  color: #ffffff;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  height: 100vh;
}

:root {
  --bs-body-color: #ffffff;
  --bs-body-font-family: '3Dventure', var(--bs-font-sans-serif);
  --bs-link-color: #ffffff;
  --bs-link-hover-color: #9bfab6;
}
/* v1 */
/* #app {
  position: relative;
  top: 9rem;
  left: 9rem;
  width: calc(100vw - 18rem);
  height: calc(100vh - 18rem);
} */

/* v2 */
#app {
  position: relative;
  top: 7rem;
  left: 15rem;
  width: calc(100vw - 30rem);
  height: calc(100vh - 14rem);
  font-size: 2rem;
}

.title {
  @include font-size(16vw);
  -webkit-text-stroke-width: 0.4rem;
}

.btn-outline-light {
  --bs-btn-border-color: none;
  &:hover {
    box-shadow:
      0 0 10px 0 $mint inset,
      0 0 10px 4px $mint;
  }
}

.btn-no-outline-hover {
  border: none;
  &:hover {
    color: $active-green;
  }
}

.modal-open .btn-no-outline-hover {
  color: $active-green;
}

.modal-content {
  height: 80vh;
}

.modal-title {
  font-size: 5rem;
}

#registerForm {
  .col-5 {
    display: flex;
    align-items: center;
    background-color: yellow;
    font-size: 3rem;
    justify-content: start;
  }
  
  .col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    font-size: 3rem;
  }
}
