@import './colors.scss';

// Input
$input-border-color: #ffffff;
$input-border-radius: 0;
$input-focus-border-color: #ffffff;
$input-focus-box-shadow: none;

// Toast
$toast-max-width: 100%;
$toast-font-size: 2.5rem;
$toast-box-shadow: $mint-box-shadow;

// Table
$table-th-font-weight: 400;

// Ratio
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);


// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
);