@import './colors.scss';

// Input
$input-border-color: #ffffff;
$input-border-radius: 0;
$input-focus-border-color: #ffffff;
$input-focus-box-shadow: none;

// Toast
$toast-max-width: 100%;
$toast-font-size: 2.5rem;
$toast-box-shadow: $mint-box-shadow;

