@charset "UTF-8";
html {
  font-size: 16px;
  background-color: #1f023c;
  color: #ffffff;
}

#app {
  position: relative;
  top: 9rem;
  left: 9rem;
  width: calc(100% - 18rem);
  height: calc(100vh - 18rem);
}